<div class="row">
	<div class="col-1"></div>
	<div class="col-10">
	<div id="matchpanel" class="panel panel-success">
	<div class="row panel-body text-center">
		<div data-aura-widget="select-db-widget" data-type="radio"></div>
	</div>
	</div>
	
	<div class="col-1"></div>
</div>

</div>
</div>

<div class="row">
	<div class="col-1"></div>
	<div class="col-9">
		<div class="input-group input-group-lg">
			 <span class="input-group-addon">Search</span>
			<input class="form-control" style="font-size:150%" id="tofind" type="text" value="<%=value%>" placeholder=""></input> 
			 <span id="cleartofind" title="Clear Tofind" class="btn btn-danger input-group-addon">×</span>
		</div>
	</div>
</div>
<div class="row" id="searchhelp">
	<div class="col-2"></div>
	<div class="col-10">
		search help
	 </div>
</div>
<div  id="searchresult" data-aura-widget="resultlist-widget" style="overflow-x:hidden"></div>