<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
	<div id="matchpanel" class="panel panel-success">
	<div class="row panel-body text-center">
		<div data-aura-component="select-db@kse" data-type="radio"></div>
	</div>
	</div>
	
	<div class="col-md-1"></div>
</div>

</div>
</div>

<div class="row no-margin">
	<div class="col-md-12">
	<div data-aura-component="tofind@kse"></div>
</div>
</div>

<div class="row no-margin" id="searchhelp">
	<div class="col-md-12">
	<div data-aura-component="search-help@kse"></div>
</div>
</div>

<div  id="searchresult" data-aura-component="resultlist@kse" style="overflow-x:hidden"></div>