

<div data-depth="<%=depth%>" class="btn-group" id="dropdowndiv">
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><%=tree[active].head%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%if (tree[active].hit){%><span class="hit"><%=tree[active].hit%></span><%}%><span class="caret"></span>
   
  </button>

<ul class="dropdown-menu" role="menu">
	<%for (var i in tree) {%>
	<li><a href="#" data-depth="<%=tree[i].depth%>" data-slot="<%=tree[i].slot%>" class="list-group-item<%if(tree[i].active){%> active<%}%>"><%=tree[i].head%><%if (tree[i].hit){%><span class="hit"><%=tree[i].hit%></span><%}%></a></li>
	<%}%>
</ul>
</div>
