<div id="searchhelp">
		<br/><input type="search" value="rasa"><br/> match <b>rasa</b> and <b>rasā</b>
		<br/><input type="search" value="rasa^"><br/> match <b>rasa</b> but not rasā
		<br/><input type="search" value="raja*"><br/> match <b>rajakadoṇiyā</b>,<b>rajakaputtaṃ</b> and so on, maximum 30 matches.
		<br/><input type="search" value="evam me suttam!"><br/> match <b>evaṃ me ettha</b>

</div>
