<div class="bodytext">Dveme, bhikkhave, dhammā saddhammassa ṭhitiyā asammosāya anantaradhānāya saṃvattanti. Katame dve? Sunikkhittañca padabyañjanaṃ attho ca sunīto. Sunikkhittassa, bhikkhave, padabyañjanassa atthopi sunayo hoti. Ime kho, bhikkhave, dve dhammā saddhammassa ṭhitiyā asammosāya anantaradhānāya saṃvattantī<%=text%></div>