		<div class="input-group input-group-lg">

			<input class="tofind form-control" style="font-size:150%" type="text" value="" placeholder="" data-mode="or"></input> 		
			 <span id="removeorphrase" title="Remove phrase" class="btn btn-danger input-group-addon">-</span>
		</div>

