
<div class="row">
	<div class="col-md-1"></div>

	<div class="col-md-10">
    <span class="input-group-addon">Distance</span>
  <label class="btn btn-info input-group-addon">
    <input type="radio" class="slotdistance" name="slotdistance" data-distance="0">same slot
  </label>
  <label class="btn btn-info input-group-addon">
    <input type="radio" class="slotdistance" name="slotdistance" data-distance="1">1 slot
  </label>
  <label class="btn btn-info input-group-addon">
    <input type="radio" class="slotdistance" name="slotdistance" checked=true data-distance="2">2 slots
  </label>
  <label class="btn btn-info input-group-addon">
    <input type="radio" class="slotdistance" name="slotdistance" data-distance="3">3 slots
  </label>
  <label class="btn btn-info input-group-addon">
    <input type="radio" class="slotdistance" name="slotdistance" data-distance="5">5 slots
  </label>
  <label class="btn btn-info input-group-addon">
    <input type="radio" class="slotdistance" name="slotdistance" data-distance="10">10 slots
  </label>  

    <a id="btnexample" class="btn btn-success input-group-addon">e.g</a>
    
  </label>  
</div>


</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10" id="phrases">
		<div>
			<div class="input-group input-group-lg">
				 <span id="newphrase" title="New group" class="btn btn-warning input-group-addon">+</span>
				 

				<input class="form-control tofind" style="font-size:150%" type="text" value="" placeholder=""></input> 		
				 <span id="orphrase" title="Or phrase" class="btn btn-warning input-group-addon">or</span>
			</div>
		</div>

	</div>
</div>

<div class="row" id="searchhelp">
	<div class="col-md-2"></div>
	<div class="col-md-10">

	 </div>
</div>
