
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
	<div id="matchpanel" class="panel panel-success">

	<div class="panel-body text-center">
	<div data-aura-widget="select-db-widget" data-type="radio"></div>
	</div>
	</div>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10 input-group">

 	<a data-query="rupam,|,sankhara" class="btn btn-success btnexample input-group-addon">example 1</a>
 	<a data-query="sankhara,@,anicca" class="btn btn-success btnexample input-group-addon">example 2</a>
 	<a data-query="evam me,@!,sutam" class="btn btn-success btnexample input-group-addon">example 3</a>
 	<a data-query="evam me,~,sutam" class="btn btn-success btnexample input-group-addon">example 4</a> 	
 	<a data-query="evam me,~!,sutam" class="btn btn-success btnexample input-group-addon">example 5</a> 	
 	</div>
</div> 
<div data-aura-widget="boolean-builder-widget@kse"></div>
<div  id="searchresult" data-aura-widget="resultlist-widget" style="overflow-x:hidden"></div>