
<div class="row">
<%for (var i in T){%>
	<div class="col-md-<%=T[i].col%>"><%=T[i].db%></div>
<%}%>
</div>

<div class="row">
<!--
<div style="position:absolute;top:0;left:0;" id="parallelmenu"><a class="btn btn-info" id="btnsync">sync</a></div>
//-->
<%for (var i in T){%>
	<div style="height:<%=height%>px;overflow-x:hidden" class="text col-md-<%=T[i].col%>" data-aura-widget="<%=widget%>" data-id="<%=T[i].id%>" ></div>
<%}%>
</div>