		<div class="input-group input-group-lg">
				<input class="form-control" style="font-size:150%" id="query" type="text" value="<%=value%>" placeholder=""></input> 
			 <span id="clearquery" title="Clear Query" class="btn btn-danger input-group-addon">×</span>&nbsp;
		</div>