<div  class="resultitem">
<div class="row">
	<div class="col-md-4">
	<span class="label label-info"><%=seq+1%></span>

	<%if (typeof closest!='undefined'){%>
	<span class="btn btn-link opentext"  data-slot="<%=slot%>">Open <%=closest[1].value%>.<%=closest[2].value%></span><div class="pull-right"><span class="label label-success">pb <%=closest[0].value%></span> 
		<%if (typeof sourceinfo!='undefined'){%>
	<%=sourceinfo.filename%>:<%=sourceinfo.line%><%}%>
		</div>

	<%}else{%>
		<span class="btn btn-link opentext" data-slot="<%=slot%>">
		<%if (typeof sourceinfo!='undefined'){%>
		<%=sourceinfo.filename%>:<%=sourceinfo.line%>
		<%}else{%>
		Open
		<%}%>
		</span>
	<%}%>
	<%if (showscore){%><%=(score*100).toFixed(0)+'%'%><%}%>
	</div>
	<div class="col-md-4">
		<%if (previousmore){%>
		<slot expandable="true" newslot="-2" n="<%=slot-1%>">..more..</slot>
		<%}%>
		<%if (showscore){%>
		<div class="progress">
		  <div class="progress-bar progress-bar-<%=scoreclass%>" role="progressbar" aria-valuenow="<%=(score*100).toFixed(0)+'%'%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(score*100).toFixed(0)+'%'%>">
		    <span class="sr-only"><%=(score*100).toFixed(0)+'%'%></span>
		  </div>
		</div>

		<%}%>
	</div>
	</div>
<div class="row">
	<div class="col-md-12"  data-slot="<%=slot%>">
		<%=text%>
		<slot expandable="true" newslot="2" n="<%=lastslot%>">..more..</slot>
	</div>
</div>
</div>