<div  class="resultitem">
	<span class="label label-info"><%=seq+1%></span>

	<%if (typeof closest!='undefined'){%>
	<span class="btn btn-link opentext"  data-slot="<%=slot%>">Open <%=closest[1].value%>.<%=closest[2].value%></span><div class="pull-right"><span class="label label-success">pb <%=closest[0].value%></span> 
		<%if (typeof sourceinfo!='undefined'){%>
	<%=sourceinfo.filename%>:<%=sourceinfo.line%><%}%>
		</div>

	<%}else{%>
		<span class="btn btn-link opentext" data-slot="<%=slot%>">
		<%if (typeof sourceinfo!='undefined'){%>
		<%=sourceinfo.filename%>:<%=sourceinfo.line%>
		<%}else{%>
		Open
		<%}%>
		</span>
	<%}%>
<div class="row">
	<div class="col-md-12" data-slot="<%=slot%>">
		<slot expandable="true" newslot="-2" n="<%=slot-1%>">..more..</slot>
		<%if (showscore){%><span class="<%=scoreclass%>"><%=(score*100).toFixed(0)+'%'%></span><%}%>
		<%=text%>
		<slot expandable="true" newslot="2" n="<%=lastslot%>">..more..</slot>
	</div>
</div>
</div>