Info
<div class="row no_margin">
<div class="col-md-8 bodytext" style="height:<%=height%>px;overflow-x:hidden"> 

</div>
<div class="col-md-4">
	<div data-aura-component="read-helper"></div>
</div>
</div>